/* Avengers */

.avengers {
  --width: 15vw;
  --barwidth: calc(var(--width) * 0.06);
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: #000;
  border: var(--barwidth) solid #ff1a21;
  box-sizing: border-box;
  position: relative;
}

.avengers:before {
  content: "";
  display: block;
  position: absolute;
  top: -22%;
  right: -15%;
  width: 130%;
  height: 130%;
  background: black;
  clip-path: polygon(22% 78%, 36.5% 91%, 34% 96.5%, 18.5% 86%);
}

.avengers:after {
  content: "";
  display: block;
  position: absolute;
  top: -22%;
  right: -15%;
  width: 130%;
  height: 130%;
  background: linear-gradient(
    216deg,
    rgba(255, 26, 33, 1) 0%,
    rgba(255, 26, 33, 1) 60%,
    rgba(148, 16, 20, 1) 100%
  );
  clip-path: polygon(
    14% 100%,
    61% 0%,
    76% 0%,
    76% 81%,
    62% 81%,
    76% 70%,
    76% 61%,
    63% 49%,
    63% 23%,
    48% 58%,
    63% 58%,
    63% 53%,
    77% 66%,
    63% 77%,
    63% 71%,
    43% 71%,
    30% 100%
  );
}

/* Aquaman */

.aquaman {
  --width: 15vw;
  width: var(--width);
  height: calc(var(--width) * 0.8);
  background-color: #daa530;
  clip-path: polygon(
    0% 95%,
    35% 0%,
    65% 0%,
    100% 95%,
    80% 100%,
    50% 20%,
    20% 100%
  );
  position: relative;
}

.aquaman:before {
  --width: 15vw;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    80deg,
    #c6b118 0%,
    #fffa5f 46%,
    #fffa5f 52%,
    #c6b118 100%
  );
  clip-path: polygon(
    3% 93%,
    37% 3%,
    63% 3%,
    97% 93%,
    82% 97%,
    50% 16%,
    19% 97%
  );
  top: 0%;
  left: 0%;
  position: absolute;
}

/* Bizarro */

.bizarro {
  --width: 15vw;
  --innerwidth: calc(var(--width) * 0.8);
  --border: calc((var(--width) - var(--innerwidth)) / 2);
  width: var(--width);
  height: calc((var(--width) / 4) * 3);
  background-color: #56007f;
  clip-path: polygon(15% 0%, 85% 0%, 100% 25%, 50% 100%, 0% 25%);
  position: relative;
}

.bizarro:after {
  content: "S";
  width: var(--width);
  height: calc((var(--width) / 4) * 3);
  display: block;
  font-size: calc(var(--width) * 0.8);
  line-height: 100%;
  text-align: center;
  z-index: 10;
  position: relative;
  color: #56007f;
  margin-top: -0.7vw;
  font-weight: 900;
  font-family: Palatino, Georgia, Courier, Times, serif;
  transform: scaleX(-1.5);
}

.bizarro:before {
  width: var(--innerwidth);
  height: calc((var(--innerwidth) / 4) * 3);
  content: " ";
  background-color: #ffeb00;
  clip-path: polygon(15% 0%, 85% 0%, 100% 25%, 50% 100%, 0% 25%);
  display: block;
  transform: scale(0.9);
  position: absolute;
  top: calc(((var(--border) / 4) * 2) * 0.9);
  left: calc(var(--border) * 0.9);
}

/* Black Widow */

.blackwidow {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #000 0%,
    #000 60.5%,
    #c6a502 60%,
    #c6a502 100%
  );
  position: relative;
  overflow: hidden;
}

.blackwidow:before {
  content: "";
  display: block;
  width: 40%;
  height: 65%;
  background-color: #c00000;
  top: 17.5%;
  left: 30%;
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 70% 50%, 100% 100%, 0% 100%, 30% 50%);
}

/* Booster Gold */

.boostergold {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  background: repeating-conic-gradient(
    #e8df5e 0%,
    #a88200 8%,
    #a88200 12%,
    #e8df5e 20%
  );
  clip-path: polygon(0% 26%, 50% 26%, 100% 26%, 50% 86%);
  position: relative;
  transition: clip-path 1s;
}

.boostergold:hover {
  clip-path: polygon(0% 12%, 50% 26%, 100% 12%, 50% 92%);
}

.boostergold:before {
  --width2: calc(var(--width) * 0.35);
  position: absolute;
  top: calc(50% - (var(--width2) / 2));
  background: radial-gradient(circle, #2801f2 0%, #03010c 100%);
  left: calc(50% - (var(--width2) / 2));
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: var(--width2);
  height: var(--width2);
}

/* Bulleyes */

.bullseye {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #000 0%,
    #000 20%,
    #fff 20.5%,
    #fff 45.5%,
    #000000 46%,
    #000000 50.5%,
    #fff 51%,
    #fff 100%
  );
  position: relative;
}

/* Captain America */

.captainamerica {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #005f99 0%,
    #005f99 24.5%,
    #ee2225 25%,
    #ee2225 41.5%,
    #ffffff 42%,
    #ffffff 55.5%,
    #ee2225 56%,
    #ee2225 68.5%,
    #1e1a1b 69%,
    #1e1a1b 100%
  );
  position: relative;
}

.captainamerica:before {
  --width2: calc(var(--width) * 0.35);
  position: absolute;
  top: calc(50% - (var(--width2) / 2));
  background-color: white;
  left: calc(50% - (var(--width2) / 2));
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: var(--width2);
  height: var(--width2);
}
/* Captain Marvel */

.captainmarvel {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: conic-gradient(
    #be0000 0%,
    #be0000 20%,
    #006894 20.1%,
    #006894 80%,
    #be0000 80.1%,
    #be0000 100%
  );
  position: relative;
  overflow: hidden;
}

.captainmarvel:before {
  position: absolute;
  top: 0%;
  background: conic-gradient(
    #e8df5e 0%,
    #e8df5e 20%,
    #000 20.01%,
    #000 20.5%,
    #d9ba53 20.6%,
    #d9ba53 80%,
    #000 80.01%,
    #000 80.5%,
    #e8df5e 80.6%,
    #e8df5e 100%
  );
  left: 0%;
  display: block;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 25%, 50% 45%, 100% 28%, 100% 42%, 50% 57%, 0% 40%);
  content: "";
}

.captainmarvel:after {
  position: absolute;
  top: 32.5%;
  /*background: repeating-conic-gradient(
    #e8df5e 0%,
    #d9ba53 6%,
    #e8df5e 12.5%,
    #d9ba53 18%,
    #e8df5e 25%
  );*/
  background: radial-gradient(circle, #fec90d 0%, #fec90d 25%, #856918 63%);
  left: 37.5%;
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    40% 25%,
    20% 20%,
    25% 40%,
    0% 50%,
    25% 60%,
    20% 80%,
    40% 75%,
    50% 100%,
    60% 75%,
    80% 80%,
    75% 60%,
    100% 50%,
    75% 40%,
    80% 20%,
    60% 25%
  );
  width: 25%;
  height: 35%;
}

/* Ciborg */

.ciborg {
  --width: 15vw;
  overflow: hidden;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #f90100 0%,
    #f90100 42.5%,
    grey 43%,
    grey 47%,
    #000000 47.1%,
    #000000 56%,
    grey 56.1%,
    grey 60%,
    red 60.1%,
    red 67%,
    grey 67.1%,
    grey 100%
  );
  position: relative;
}

.ciborg:before {
  content: "";
  display: block;
  width: 10.5%;
  height: 10%;
  background: linear-gradient(
    180deg,
    grey 0%,
    grey 20%,
    #000 20%,
    #000 80%,
    grey 80%,
    grey 100%
  );
  top: 45%;
  right: 0%;
  position: absolute;
}

/* Daredevil */

.daredevil {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  position: relative;
  /*font-style: italic;*/
  font-family: "Times New Roman", Times, serif;
  color: #660033;
  font-size: var(--width);
}

.daredevil:before,
.daredevil:after {
  content: "D";
  display: block;
  position: absolute;
  top: calc((var(--width) / 5) / -2);
  left: 0px;
}

.daredevil:after {
  top: calc((var(--width) / 5) / 2);
  left: calc(var(--width) / 5);
}

/* Deadpool */

.deadpool {
  --width: 15vw;
  --barwidth: calc(var(--width) * 0.09);
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: linear-gradient(
    90deg,
    #000 0%,
    #000 calc(50% - (var(--barwidth) / 2) - 1px),
    #ff1a21 calc(50% - (var(--barwidth) / 2)),
    #ff1a21 calc(50% + (var(--barwidth) / 2)),
    #000 calc(50% + (var(--barwidth) / 2) + 1px),
    #000 100%
  );
  border: var(--barwidth) solid #ff1a21;

  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.deadpool:after,
.deadpool:before {
  --width2: calc(var(--width) * 0.3);
  --height2: calc((var(--width2) / 3) * 1.5);
  --top: calc(0% + 2rem);
  --left: calc(100% - 5rem);
  content: "";
  position: absolute;
  top: calc(55% - (var(--height2) / 2));
  left: calc(20% - (var(--width2) / 2));
  width: var(--width2);
  height: var(--height2);
  background-color: #fff;
  border-bottom-left-radius: calc(var(--width2) - (var(--width2) / 10));
  border-bottom-right-radius: calc((var(--width2) / 3) + (var(--width2) / 10));
  transform: rotate(22deg);
}

.deadpool:before {
  left: calc(80% - (var(--width2) / 2));
  border-bottom-left-radius: calc((var(--width2) / 3) + (var(--width2) / 10));
  border-bottom-right-radius: calc(var(--width2) - (var(--width2) / 10));
  border-top-right-radius: 0px;
  transform: rotate(-22deg);
  transition: height 0.3s, top 0.3s;
}

.deadpool:hover:before {
  height: 1px;
  top: calc(55% - (var(--height2) / 2));
}

/* Dr. Manhtattan */

.drmanhattan {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #22284a 0%,
    #22284a 12.5%,
    #005f99 13%,
    #005f99 62.5%,
    #22284a 63%,
    #22284a 100%
  );
  position: relative;
}

.drmanhattan:before {
  content: "";
  display: block;
  width: calc(var(--width) / 8);
  height: calc(var(--width) / 8);
  background-color: #22284a;
  top: calc(0% - ((var(--width) / 8) / 3.5));
  left: calc(50% - ((var(--width) / 8) / 2));
  position: absolute;
  border-radius: 100%;
}

/* Dr. Stramge */

.drstrange {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #000 0%,
    #000 60.5%,
    #ce2127 60%,
    #ce2127 100%
  );
  position: relative;
  overflow: hidden;
  transform: rotate(-20deg);
}

.drstrange > * {
  display: block;
  height: 100%;
  width: 100%;
  transform: rotate(80deg);
}

.drstrange:before,
.drstrange:after,
.drstrange > *:after,
.drstrange > *:before {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  border: calc(var(--width) * 0.17) solid #ce2127;
  border-bottom: calc(var(--width) * 0.03) solid #ce2127;
  border-radius: 100%;
  top: -70%;
  right: -22.5%;
  position: absolute;
}

.drstrange:after,
.drstrange > *:after {
  top: 60%;
  border-top: calc(var(--width) * 0.03) solid #ce2127;
}

.drstrange > *:before {
  top: -77%;
  transform: rotate(27deg);
  right: -35%;
}

.drstrange > *:after {
  top: 73%;
  transform: rotate(-10deg);
}

/* Fantastic Fours */

.fantasticfours {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #006eb5 0%,
    #006eb5 60.5%,
    #fff 61%,
    #fff 100%
  );
  position: relative;
  overflow: hidden;
}

.fantasticfours:before {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  right: 5%;
  width: 100%;
  height: 100%;
  background: #fff;
  clip-path: polygon(
    76% 0%,
    30% 50%,
    30% 60%,
    70% 60%,
    70% 100%,
    80% 100%,
    80% 60%,
    100% 60%,
    100% 50%,
    43% 50%,
    70% 20%,
    70% 50%,
    80% 50%,
    80% 0%
  );
}

/* The Flash */

.flash {
  --width: 15vw;
  --barwidth: calc(var(--width) * 0.09);
  background-color: #fff;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  border: var(--barwidth) solid #f9e92f;
  box-sizing: border-box;
  position: relative;
}

.flash:after {
  content: "";
  display: block;
  width: var(--width);
  height: calc(var(--width) * 1.8);
  top: calc(var(--width) * -0.45);
  clip-path: polygon(
    66% 0%,
    34% 38%,
    49% 38%,
    30% 66%,
    49% 66%,
    33% 100%,
    66% 58%,
    51% 58%,
    70% 30%,
    53% 30%
  );
  background-color: #facb33;
  position: absolute;
  left: calc(var(--width) * -0.09);
}

/* Green Lantern */

.greenlantern {
  --width: 15vw;
  width: calc(var(--width) * 0.8);
  height: calc(var(--width) * 0.8);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #00a064 0%,
    #00a064 45%,
    #0f4f34 46%,
    #0f4f34 100%
  );
  position: relative;
}

.greenlantern:after {
  content: "";
  display: block;
  background-color: #0f4f34;
  position: absolute;
  width: calc(var(--width) * 0.8);
  height: 120%;
  left: 0px;
  top: -10%;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    10% calc((100% - var(--width) / 7)),
    90% calc((100% - var(--width) / 7)),
    100% 100%,
    100% 0%,
    90% calc(var(--width) / 7),
    10% calc(var(--width) / 7)
  );
}

/* Hawkeye */

.hawkeye {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #000 0%,
    #000 60.5%,
    #957bbd 60%,
    #957bbd 100%
  );
  position: relative;
  overflow: hidden;
}

.hawkeye:before {
  content: "";
  display: block;
  width: 55%;
  height: 65%;
  background-color: #957bbd;
  top: 22.5%;
  left: 22.5%;
  position: absolute;
  clip-path: polygon(0% 0%, 50% 30%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}

/* Legion of superheroes */

.legionsuperheroes {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #000 0%,
    #000 60%,
    #cfb53b 61%,
    #cfb53b 100%
  );
  position: relative;
  overflow: hidden;
}

.legionsuperheroes:after {
  content: "";
  display: block;
  width: 71%;
  height: 71%;
  position: absolute;
  top: 0%;
  right: 0%;
  background: transparent;
  border-bottom: calc(var(--width) * 0.12) solid #cfb53b;
  border-left: calc(var(--width) * 0.12) solid #cfb53b;
}

.legionsuperheroes:before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 0%;
  width: 71%;
  height: 71%;
  background: #cfb53b;
  clip-path: polygon(
    20% 21%,
    39% 44%,
    31% 49%,
    41% 51%,
    40% 61%,
    47% 55%,
    54% 62%,
    54% 53%,
    63% 52%,
    56% 47%,
    63% 40%,
    53% 41%,
    52% 32%,
    46% 38%
  );
}

/* Lexcorp */

.lexcorp {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #8bc53d 0%,
    #8bc53d 65%,
    #000 65.5%,
    #000 100%
  );
  position: relative;
  overflow: hidden;
}

.lexcorp:after {
  content: "";
  display: block;
  width: 71%;
  height: 71%;
  position: absolute;
  top: 0%;
  right: -12%;
  background: transparent;
  border-bottom: calc(var(--width) * 0.15) solid #000;
  border-left: calc(var(--width) * 0.3) solid #000;
  transform: skewX(-12deg);
}

/* Martian Manhunter */

.martianmanhunter {
  --width: 15vw;
  --barwidth: calc(var(--width) * 0.09);
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: conic-gradient(
    #348303 0%,
    #348303 14%,
    #171967 14.1%,
    #171967 86%,
    #348303 86.1%,
    #348303 100%
  );
  border: var(--barwidth) solid yellow;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.martianmanhunter:after,
.martianmanhunter:before {
  content: "";
  display: block;
  width: 101%;
  height: 10%;
  background: #ff1100;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  top: 45%;
  left: -0.5%;
  position: absolute;
}

.martianmanhunter:before {
  transform: rotate(-45deg);
}

/* Ms. Marvel */

.msmarvel {
  --width: 15vw;
  width: calc(var(--width) / 1.8);
  height: var(--width);
  background: linear-gradient(
    97deg,
    #c6b118 0%,
    #fffa5f 46%,
    #fffa5f 52%,
    #c6b118 100%
  );
  clip-path: polygon(70% 0%, 0% 56%, 60% 56%, 30% 100%, 100% 44%, 40% 44%);
}

/* Moonknight */

.moonknight {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #000 0%,
    #000 51%,
    #fff 51.5%,
    #fff 62.5%,
    #000 63%,
    #000 100%
  );
  position: relative;
  overflow: hidden;
}

.moonknight:before {
  content: "";
  display: block;
  width: 55%;
  height: 55%;
  background-color: #fff;
  top: 22.5%;
  left: 35%;
  border-radius: 100%;
  position: absolute;
}

/* Nightwing */

.nightwing {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  position: relative;
  clip-path: polygon(
    0% 23%,
    13% 18%,
    41% 41%,
    47% 34%,
    39% 34%,
    44% 30%,
    53% 30%,
    60% 40%,
    87% 18%,
    100% 22%,
    89% 37%,
    84% 34%,
    87% 39%,
    76% 52%,
    72% 49%,
    74% 54%,
    66% 63%,
    61% 59%,
    61% 71%,
    50% 82%,
    38% 70%,
    39% 58%,
    34% 63%,
    25% 53%,
    29% 49%,
    23% 51%,
    12% 38%,
    15% 35%,
    11% 37%
  );
  background-color: #1c8bc6;
}

/* Nova Corps */

.nova {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  position: relative;
  background: #bc1b05;
  background: conic-gradient(
    from 0deg at 50% 73%,
    #6c1104 0%,
    #6c1104 6%,
    #bc1b05 6.5%,
    #bc1b05 10%,
    #6c1104 10.5%,
    #6c1104 15%,
    #bc1b05 15.5%,
    #bc1b05 20.5%,
    #6c1104 21%,
    #6c1104 30%,
    #bc1b05 30.5%,
    #bc1b05 37.5%,
    #6c1104 38%,
    #6c1104 43%,
    #bc1b05 43.5%,
    #bc1b05 44%,
    #bc1b04 44.5%,
    #bc1b04 50%,
    #6c1104 50.5%,
    #6c1104 56%,
    #bc1b05 56.5%,
    #bc1b05 62.5%,
    #6c1104 63%,
    #6c1104 68%,
    #bc1b05 68.5%,
    #bc1b05 79%,
    #6c1104 79.5%,
    #6c1104 83%,
    #bc1b05 84.5%,
    #bc1b05 90%,
    #6c1104 90%,
    #6c1104 93%,
    #bc1b05 90.5%,
    #bc1b05 100%
  );
  clip-path: polygon(
    50% 0%,
    44% 60%,
    34% 50%,
    38% 65%,
    7% 61%,
    43% 76%,
    36% 86%,
    46% 84%,
    50% 100%,
    54% 83%,
    64% 87%,
    57% 76%,
    95% 61%,
    62% 64%,
    67% 51%,
    56% 60%
  );
}

/* Orion New Gods */
.orion {
  --width: 15vw;
}

.orion,
.orion:before,
.orion:after {
  width: calc(var(--width) * 0.8);
  height: calc(var(--width) * 0.8);
  background: radial-gradient(
    circle,
    #f2554a 0%,
    #f2554a 65%,
    #fbf26e 66%,
    #c3bd63 100%
  );
  transform: rotatez(45deg);
}

.orion:before,
.orion:after {
  content: "";
  position: absolute;
  transform: rotatez(60deg);
}

.orion:after {
  transform: rotatez(-60deg);
}

/* Phoenix */

.phoenix {
  --width: 15vw;
  width: var(--width);
  height: calc(var(--width) * 0.8);
  background-color: #e3b92c;
  clip-path: polygon(
    0% 0%,
    33% 0%,
    45% 15%,
    48% 5%,
    43% 0%,
    54% 0%,
    54% 15%,
    66% 0%,
    100% 0%,
    92% 16%,
    83% 16%,
    90% 20%,
    84% 31%,
    76% 31%,
    82% 35%,
    76% 47%,
    68% 47%,
    74% 51%,
    67% 66%,
    56% 66%,
    61% 77%,
    50% 100%,
    39% 77%,
    44% 66%,
    33% 66%,
    26% 51%,
    32% 47%,
    24% 47%,
    18% 35%,
    24% 31%,
    16% 31%,
    10% 20%,
    17% 16%,
    8% 16%
  );
  position: relative;
}

/* Red Hood */

.redhood {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  position: relative;
  background-color: #b31401;
  clip-path: polygon(
    0% 47%,
    18% 30%,
    44% 38%,
    47% 29%,
    48% 34%,
    52% 34%,
    53% 29%,
    56% 38%,
    83% 30%,
    100% 48%,
    93% 46%,
    72% 56%,
    71% 60%,
    66% 59%,
    55% 64%,
    51% 71%,
    47% 65%,
    33% 58%,
    29% 60%,
    28% 56%,
    6% 46%
  );
}

/* Red Tornado */

.redtornado {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: #e4b92b;
  position: relative;
  overflow: hidden;
}

.redtornado:before {
  content: "";
  display: block;
  width: 100%;
  height: 60%;
  background-color: #c00000;
  top: 40%;
  left: 0%;
  position: absolute;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 40%,
    65% 40%,
    65% 100%,
    35% 100%,
    35% 40%,
    0% 40%
  );
}

/* Shazam */

.shazam {
  --width: 15vw;
  width: calc(var(--width) / 1.8);
  height: var(--width);
  background: radial-gradient(
    circle,
    #c61818 0%,
    #ff5f5f 32%,
    #e64040 62%,
    #c61818 100%
  );
  clip-path: polygon(
    25% 2%,
    6% 31%,
    24% 31%,
    9% 59%,
    25% 59%,
    8% 100%,
    82% 52%,
    65% 53%,
    91% 29%,
    65% 29%,
    92% 2%
  );
  position: relative;
}

.shazam:after {
  content: "";
  display: block;
  width: calc(var(--width) / 1.8);
  height: var(--width);
  background: linear-gradient(
    137deg,
    #c6b118 0%,
    #ede349 33%,
    #ffd05f 51%,
    #fffa5f 69%,
    #c6b118 100%
  );

  clip-path: polygon(
    28% 4%,
    11% 29%,
    28% 29%,
    12% 57%,
    29% 57%,
    12% 95%,
    76% 54%,
    60% 55%,
    86% 31%,
    60% 31%,
    87% 4%
  );
  top: 0px;
  left: 0px;
  position: absolute;
}

/* She-Hulk */

.shehulk {
  --width: 15vw;
  --barwidth: calc(var(--width) * 0.05);
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: #6df807;
  border: var(--barwidth) solid #0f7005;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.shehulk:before {
  content: "";
  display: block;
  border-radius: 100%;
  width: 90%;
  height: 90%;
  background: conic-gradient(
    #0f7005 0%,
    #0f7005 16.5%,
    #6df807 17%,
    #6df807 33%,
    #0f7005 34%,
    #0f7005 50%,
    #6df807 50.5%,
    #6df807 66.5%,
    #0f7005 67%,
    #0f7005 83.5%,
    #6df807 84%,
    #6df807 100%
  );
  transform: rotate(30deg);
  top: 5%;
  left: 5%;
  position: absolute;
}

.shehulk:after {
  --barwidth: calc(var(--width) * 0.025);
  content: "";
  display: block;
  border-radius: 100%;
  width: 30%;
  height: 30%;
  background: #0f7005;
  top: 35%;
  left: 35%;
  border: var(--barwidth) solid #6df807;
  box-sizing: border-box;
  position: absolute;
}

/* Star sapphire */

.starsapphire {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #e6b4d0 0%,
    #e6b4d0 59.5%,
    #882461 60%,
    #882461 100%
  );
  position: relative;
}

.starsapphire:before {
  position: absolute;
  top: 10%;
  background: #882461;
  left: 10%;
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    40% 25%,
    20% 20%,
    25% 40%,
    0% 50%,
    25% 60%,
    20% 80%,
    40% 75%,
    50% 100%,
    60% 75%,
    80% 80%,
    75% 60%,
    100% 50%,
    75% 40%,
    80% 20%,
    60% 25%
  );
  width: 80%;
  height: 80%;
}

.starsapphire:after {
  position: absolute;
  top: 32.5%;
  background: #e6b4d0;
  left: 37.5%;
  display: block;
  content: "";
  width: 25%;
  height: 35%;
  border-radius: 100%;
}

/* Superman */

.superman {
  --width: 15vw;
  --innerwidth: calc(var(--width) * 0.8);
  --border: calc((var(--width) - var(--innerwidth)) / 2);
  width: var(--width);
  height: calc((var(--width) / 4) * 3);
  background-color: #ff1122;
  clip-path: polygon(15% 0%, 85% 0%, 100% 25%, 50% 100%, 0% 25%);
  position: relative;
}

.superman:after {
  content: "S";
  width: var(--width);
  height: calc((var(--width) / 4) * 3);
  display: block;
  font-size: calc(var(--width) * 0.8);
  line-height: 100%;
  text-align: center;
  z-index: 10;
  position: relative;
  color: #ff1122;
  margin-top: -0.7vw;
  font-weight: 900;
  font-family: Palatino, Georgia, Courier, Times, serif;
  transform: scaleX(1.5);
}

.superman:before {
  width: var(--innerwidth);
  height: calc((var(--innerwidth) / 4) * 3);
  content: " ";
  background-color: #ffeb00;
  clip-path: polygon(15% 0%, 85% 0%, 100% 25%, 50% 100%, 0% 25%);
  display: block;
  transform: scale(0.9);
  position: absolute;
  top: calc(((var(--border) / 4) * 2) * 0.9);
  left: calc(var(--border) * 0.9);
}

/* Titans */

.titans {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  border: calc(var(--width) * 0.1) solid #f2b22e;
  background-color: #000;
  position: relative;
  box-sizing: border-box;
}

.titans:before {
  content: "";
  display: block;
  width: calc(100% - (var(--width) * 0.08));
  height: calc(100% - (var(--width) * 0.08));
  background-color: #f2b22e;
  top: calc(0% + (var(--width) * 0.04));
  left: calc(0% + (var(--width) * 0.04));
  border-radius: 100%;
  position: absolute;
  clip-path: polygon(
    0% 25%,
    100% 25%,
    100% 45%,
    60% 45%,
    60% 100%,
    40% 100%,
    40% 45%,
    0% 45%
  );
}

/* Quicksilver */

.quicksilver {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: linear-gradient(
    -45deg,
    #044bfd 0%,
    #044bfd 50%,
    #00ccff 51%,
    #00ccff 100%
  );
  position: relative;
  overflow: hidden;
}

.quicksilver:before {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
  clip-path: polygon(
    70% 0%,
    100% 0%,
    100% 24%,
    73% 40%,
    75% 44%,
    50% 58%,
    52% 61%,
    30% 73%,
    31% 76%,
    13% 85%,
    23% 74%,
    21% 72%,
    33% 58%,
    30% 56%,
    48% 34%,
    45% 32%
  );
}

/* Vixen */

.vixen {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  position: relative;
  background-color: #f2a83c;
  clip-path: polygon(
    2% 0%,
    41% 24%,
    59% 24%,
    98% 0%,
    86% 44%,
    97% 57%,
    50% 100%,
    3% 57%,
    14% 44%
  );
}

.vixen:before,
.vixen:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 24%;
  border-radius: 100%;
  width: 20%;
  height: 11%;
  background-color: #393033;
  transform: rotate(45deg);
  clip-path: polygon(0% 50%, 60% 30%, 100% 50%, 100% 100%, 0% 100%);
}

.vixen:after {
  left: 56%;
  transform: scalex(-1) rotate(45deg);
}

/* Winter soldier */

.wintersoldier {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #000 0%,
    #000 62.5%,
    #e6241a 63%,
    #e6241a 100%
  );
  position: relative;
  overflow: hidden;
}

.wintersoldier:after {
  --width2: calc(var(--width) * 0.5);
  position: absolute;
  top: calc(50% - (var(--width2) / 2));
  background-color: #b10b02;
  left: calc(50% - (var(--width2) / 2));
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: var(--width2);
  height: var(--width2);
}

.wintersoldier:before {
  display: block;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #e6241a;
  clip-path: polygon(
    0% 30%,
    31% 30%,
    35% 20%,
    65% 20%,
    70% 30%,
    100% 30%,
    100% 32%,
    69% 32%,
    64% 22%,
    36% 22%,
    32% 32%,
    0 32%,
    0% 60%,
    25% 60%,
    30% 45%,
    70% 45%,
    75% 60%,
    100% 60%,
    100% 62%,
    74% 62%,
    69% 47%,
    31% 47%,
    26% 62%,
    0 62%,
    0 85%,
    30% 85%,
    35% 75%,
    65% 75%,
    70% 85%,
    100% 85%,
    100% 87%,
    69% 87%,
    64% 77%,
    36% 77%,
    31% 87%,
    0 87%
  );
}

/* X-Men */

.xmen {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    #f90100 0%,
    #f90100 45.5%,
    #000000 46%,
    #000000 62.5%,
    #fdd807 63%,
    #fdd807 100%
  );
  position: relative;
}

.xmen:after,
.xmen:before {
  content: "";
  display: block;
  width: 80%;
  height: 10%;
  background-color: #000;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  top: 45%;
  left: 10%;
  position: absolute;
}

.xmen:before {
  transform: rotate(-45deg);
}
