/* General */

.avengers,
.aquaman,
.blackwidow,
.bizarro,
.boostergold,
.bullseye,
.captainamerica,
.captainmarvel,
.ciborg,
.daredevil,
.deadpool,
.drmanhattan,
.drstrange,
.fantasticfours,
.flash,
.greenlantern,
.hawkeye,
.indigolanterns,
.legionsuperheroes,
.lexcorp,
.martianmanhunter,
.moonknight,
.msmarvel,
.nightwing,
.nova,
.orion,
.phoenix,
.redhood,
.redtornado,
.shazam,
.shehulk,
.starsapphire,
.superman,
.titans,
.quicksilver,
.vixen,
.wintersoldier,
.xmen,
.zoom {
  --width: 15vw;
  width: var(--width);
  height: var(--width);
  position: relative;
  display: inline-block;
}

/* Avengers */

.avengers {
  --color1: #ff1a21;
  --color2: #941014;
  --colorbg: #000;
  border-radius: 100%;
  background: var(--colorbg);
  border: calc(var(--width) * 0.06) solid var(--color1);
  box-sizing: border-box;
}

.avengers:before {
  content: "";
  display: block;
  position: absolute;
  top: -22%;
  right: -15%;
  width: 130%;
  height: 130%;
  background: var(--colorbg);
  clip-path: polygon(22% 78%, 36.5% 91%, 34% 96.5%, 18.5% 86%);
}

.avengers:after {
  content: "";
  display: block;
  position: absolute;
  top: -22%;
  right: -15%;
  width: 130%;
  height: 130%;
  background: linear-gradient(
    216deg,
    var(--color1) 0%,
    var(--color1) 60%,
    var(--color2) 100%
  );
  clip-path: polygon(
    14% 100%,
    61% 0%,
    76% 0%,
    76% 81%,
    62% 81%,
    76% 70%,
    76% 61%,
    63% 49%,
    63% 23%,
    48% 58%,
    63% 58%,
    63% 53%,
    77% 66%,
    63% 77%,
    63% 71%,
    43% 71%,
    30% 100%
  );
}

/* Aquaman */

.aquaman {
  height: calc(var(--width) * 0.8);
  background: #daa530;
  clip-path: polygon(
    0% 95%,
    35% 0%,
    65% 0%,
    100% 95%,
    80% 100%,
    50% 20%,
    20% 100%
  );
}

.aquaman:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    80deg,
    #c6b118 0%,
    #fffa5f 46%,
    #fffa5f 52%,
    #c6b118 100%
  );
  clip-path: polygon(
    3% 93%,
    37% 3%,
    63% 3%,
    97% 93%,
    82% 97%,
    50% 16%,
    19% 97%
  );
  top: 0;
  left: 0;
  position: absolute;
}

/* Bizarro */

.bizarro,
.superman {
  --color1: #ff1122;
  --colorbg: #ffeb00;
  --innerwidth: calc(var(--width) * 0.8);
  --border: calc((var(--width) - var(--innerwidth)) / 2);
  height: calc((var(--width) / 4) * 3);
  background: var(--color1);
  clip-path: polygon(15% 0%, 85% 0%, 100% 25%, 50% 100%, 0% 25%);
}

.bizarro {
  --color1: #56007f;
}

.bizarro:after,
.superman:after {
  content: "S";
  width: var(--width);
  height: calc((var(--width) / 4) * 3);
  display: block;
  font-size: calc(var(--width) * 0.8);
  line-height: 100%;
  text-align: center;
  z-index: 10;
  position: relative;
  color: var(--color1);
  margin-top: -0.7vw;
  font-weight: 900;
  font-family: Palatino, Georgia, Courier, Times, serif;
  transform: scaleX(1.5);
}

.bizarro:after {
  transform: scaleX(-1.5);
}

.bizarro:before, 
.superman:before {
  width: var(--innerwidth);
  height: calc((var(--innerwidth) / 4) * 3);
  content: " ";
  background: var(--colorbg);
  clip-path: polygon(15% 0%, 85% 0%, 100% 25%, 50% 100%, 0% 25%);
  display: block;
  transform: scale(0.9);
  position: absolute;
  top: calc(((var(--border) / 4) * 2) * 0.9);
  left: calc(var(--border) * 0.9);
}

/* Black Widow */

.blackwidow {
  --color1: #c6a502;
  --color2: #c00000;
  --colorbg: #000;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 60.5%,
    var(--color1) 60%,
    var(--color1) 100%
  );
  overflow: hidden;
}

.blackwidow:before {
  content: "";
  display: block;
  width: 40%;
  height: 65%;
  background: var(--color2);
  top: 17.5%;
  left: 30%;
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 70% 50%, 100% 100%, 0% 100%, 30% 50%);
}

/* Booster Gold */

.boostergold {
  --color1: #e8df5e;
  --color2: #a88200;
  --color3: #2801f2;
  --color4: #03010c;
  background: repeating-conic-gradient(
    var(--color1) 0%,
    var(--color2) 8%,
    var(--color2) 12%,
    var(--color1) 20%
  );
  clip-path: polygon(0% 26%, 50% 26%, 100% 26%, 50% 86%);
  transition: clip-path 1s;
}

.boostergold:hover {
  clip-path: polygon(0% 12%, 50% 26%, 100% 12%, 50% 92%);
}

.boostergold:before {
  --width2: calc(var(--width) * 0.35);
  position: absolute;
  top: calc(50% - (var(--width2) / 2));
  background: radial-gradient(circle, var(--color3) 0%, var(--color4) 100%);
  left: calc(50% - (var(--width2) / 2));
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: var(--width2);
  height: var(--width2);
}

/* Bulleyes */

.bullseye {
  --color1: #fff;
  --colorbg: #000;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 20%,
    var(--color1) 20.5%,
    var(--color1) 45.5%,
    var(--colorbg) 46%,
    var(--colorbg) 50.5%,
    var(--color1) 51%,
    var(--color1) 100%
  );
}

/* Captain America */

.captainamerica {
  --color1: #005f99;
  --color2: #ee2225;
  --color3: #fff;
  --color4: #ee2225;
  --color5: #fff;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--color1) 0%,
    var(--color1) 24.5%,
    var(--color2) 25%,
    var(--color2) 41.5%,
    var(--color3) 42%,
    var(--color3) 55.5%,
    var(--color4) 56%,
    var(--color4) 100%
  );
}

.captainamerica:before {
  --width2: calc(var(--width) * 0.35);
  position: absolute;
  top: calc(50% - (var(--width2) / 2));
  background: var(--color5);
  left: calc(50% - (var(--width2) / 2));
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: var(--width2);
  height: var(--width2);
}

/* Captain Marvel */

.captainmarvel {
  border-radius: 100%;
  background: conic-gradient(
    #be0000 0%,
    #be0000 20%,
    #006894 20.1%,
    #006894 80%,
    #be0000 80.1%,
    #be0000 100%
  );
  overflow: hidden;
}

.captainmarvel:before {
  position: absolute;
  top: 0;
  background: conic-gradient(
    #e8df5e 0%,
    #e8df5e 20%,
    #000 20.01%,
    #000 20.5%,
    #d9ba53 20.6%,
    #d9ba53 80%,
    #000 80.01%,
    #000 80.5%,
    #e8df5e 80.6%,
    #e8df5e 100%
  );
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 25%, 50% 45%, 100% 28%, 100% 42%, 50% 57%, 0% 40%);
  content: "";
}

.captainmarvel:after {
  position: absolute;
  top: 32.5%;
  background: radial-gradient(circle, #fec90d 0%, #fec90d 25%, #856918 63%);
  left: 37.5%;
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    40% 25%,
    20% 20%,
    25% 40%,
    0% 50%,
    25% 60%,
    20% 80%,
    40% 75%,
    50% 100%,
    60% 75%,
    80% 80%,
    75% 60%,
    100% 50%,
    75% 40%,
    80% 20%,
    60% 25%
  );
  width: 25%;
  height: 35%;
}

/* Ciborg */

.ciborg {
  --color1: #f90100;
  --color2: #808080;
  --colorbg: #000;
  overflow: hidden;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--color1) 0%,
    var(--color1) 42.5%,
    var(--color2) 43%,
    var(--color2) 47%,
    var(--colorbg) 47.1%,
    var(--colorbg) 56%,
    var(--color2) 56.1%,
    var(--color2) 60%,
    var(--color1) 60.1%,
    var(--color1) 67%,
    var(--color2) 67.1%,
    var(--color2) 100%
  );
}

.ciborg:before {
  content: "";
  display: block;
  width: 10.5%;
  height: 10%;
  background: linear-gradient(
    180deg,
    var(--color2) 0%,
    var(--color2) 20%,
    var(--colorbg) 20%,
    var(--colorbg) 80%,
    var(--color2) 80%,
    var(--color2) 100%
  );
  top: 45%;
  right: 0%;
  position: absolute;
}

/* Daredevil */

.daredevil {
  --color1: #660033;
  font-family: "Times New Roman", Times, serif;
  color: var(--color1);
  font-size: var(--width);
}

.daredevil:before,
.daredevil:after {
  content: "D";
  display: block;
  position: absolute;
  top: calc((var(--width) / 5) / -2);
  left: 0;
}

.daredevil:after {
  top: calc((var(--width) / 5) / 2);
  left: calc(var(--width) / 5);
}

/* Deadpool */

.deadpool {
  --color1: #ff1a21;
  --color2: #fff;
  --colorbg: #000;
  --barwidth: calc(var(--width) * 0.09);
  border-radius: 100%;
  background: linear-gradient(
    90deg,
    var(--colorbg) 0%,
    var(--colorbg) calc(50% - (var(--barwidth) / 2) - 1px),
    var(--color1) calc(50% - (var(--barwidth) / 2)),
    var(--color1) calc(50% + (var(--barwidth) / 2)),
    var(--colorbg) calc(50% + (var(--barwidth) / 2) + 1px),
    var(--colorbg) 100%
  );
  border: var(--barwidth) solid var(--color1);
  box-sizing: border-box;
  overflow: hidden;
}

.deadpool:after,
.deadpool:before {
  --width2: calc(var(--width) * 0.3);
  --height2: calc((var(--width2) / 3) * 1.5);
  content: "";
  position: absolute;
  top: calc(55% - (var(--height2) / 2));
  left: calc(20% - (var(--width2) / 2));
  width: var(--width2);
  height: var(--height2);
  background: var(--color2);
  border-bottom-left-radius: calc(var(--width2) - (var(--width2) / 10));
  border-bottom-right-radius: calc((var(--width2) / 3) + (var(--width2) / 10));
  transform: rotate(22deg);
}

.deadpool:before {
  left: calc(80% - (var(--width2) / 2));
  border-bottom-left-radius: calc((var(--width2) / 3) + (var(--width2) / 10));
  border-bottom-right-radius: calc(var(--width2) - (var(--width2) / 10));
  border-top-right-radius: 0;
  transform: rotate(-22deg);
  transition: height 0.3s, top 0.3s;
}

.deadpool:hover:before {
  height: 1px;
  top: calc(55% - (var(--height2) / 2));
}

/* Dr. Manhtattan */

.drmanhattan {
  --color1: #22284a;
  --colorbg: #005f99;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--color1) 0%,
    var(--color1) 12.5%,
    var(--colorbg) 13%,
    var(--colorbg) 62.5%,
    var(--color1) 63%,
    var(--color1) 100%
  );
}

.drmanhattan:before {
  content: "";
  display: block;
  width: calc(var(--width) / 8);
  height: calc(var(--width) / 8);
  background: var(--color1);
  top: calc(0% - ((var(--width) / 8) / 3.5));
  left: calc(50% - ((var(--width) / 8) / 2));
  position: absolute;
  border-radius: 100%;
}

/* Dr. Stramge */

.drstrange {
  --color1: #ce2127;
  --colorbg: #000;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 60.5%,
    var(--color1) 60%,
    var(--color1) 100%
  );
  overflow: hidden;
  transform: rotate(-20deg);
}

.drstrange > * {
  display: block;
  height: 100%;
  width: 100%;
  transform: rotate(80deg);
}

.drstrange:before,
.drstrange:after,
.drstrange > *:after,
.drstrange > *:before {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  border: calc(var(--width) * 0.17) solid var(--color1);
  border-bottom: calc(var(--width) * 0.03) solid var(--color1);
  border-radius: 100%;
  top: -70%;
  right: -22.5%;
  position: absolute;
}

.drstrange:after,
.drstrange > *:after {
  top: 60%;
  border-top: calc(var(--width) * 0.03) solid var(--color1);
}

.drstrange > *:before {
  top: -77%;
  transform: rotate(27deg);
  right: -35%;
}

.drstrange > *:after {
  top: 73%;
  transform: rotate(-10deg);
}

/* Fantastic Fours */

.fantasticfours {
  --color1: #fff;
  --colorbg: #006eb5;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 60.5%,
    var(--color1) 61%,
    var(--color1) 100%
  );
  overflow: hidden;
}

.fantasticfours:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 5%;
  width: 100%;
  height: 100%;
  background: var(--color1);
  clip-path: polygon(
    76% 0%,
    30% 50%,
    30% 60%,
    70% 60%,
    70% 100%,
    80% 100%,
    80% 60%,
    100% 60%,
    100% 50%,
    43% 50%,
    70% 20%,
    70% 50%,
    80% 50%,
    80% 0%
  );
}

/* The Flash */

.zoom,
.flash {
  --color1: #f9e92f;
  --color2: #facb33;
  --colorbg: #fff;
  background: var(--colorbg);
  border-radius: 100%;
  border: calc(var(--width) * 0.09) solid var(--color1);
  box-sizing: border-box;
}

.zoom {
  --color1: #7c0303;
  --color2: #a90201;
  --colorbg: #000;
  transform: scalex(-1);
}

.zoom:after,
.flash:after {
  content: "";
  display: block;
  width: var(--width);
  height: calc(var(--width) * 1.8);
  top: calc(var(--width) * -0.45);
  clip-path: polygon(
    66% 0%,
    34% 38%,
    49% 38%,
    30% 66%,
    49% 66%,
    33% 100%,
    66% 58%,
    51% 58%,
    70% 30%,
    53% 30%
  );
  background: var(--color2);
  position: absolute;
  left: calc(var(--width) * -0.09);
}

/* Green Lantern */

.greenlantern {
  --color1: #0f4f34;
  --colorbg: #00a064;
  width: calc(var(--width) * 0.8);
  height: calc(var(--width) * 0.8);
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 45%,
    var(--color1) 46%,
    var(--color1) 100%
  );
}

.greenlantern:after {
  content: "";
  display: block;
  background: var(--color1);
  position: absolute;
  width: calc(var(--width) * 0.8);
  height: 120%;
  left: 0;
  top: -10%;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    10% calc((100% - var(--width) / 7)),
    90% calc((100% - var(--width) / 7)),
    100% 100%,
    100% 0%,
    90% calc(var(--width) / 7),
    10% calc(var(--width) / 7)
  );
}

/* Hawkeye */

.hawkeye {
  --color1: #957bbd;
  --colorbg: #000;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 60.5%,
    var(--color1) 60%,
    var(--color1) 100%
  );
  overflow: hidden;
}

.hawkeye:before {
  content: "";
  display: block;
  width: 55%;
  height: 65%;
  background: var(--color1);
  top: 22.5%;
  left: 22.5%;
  position: absolute;
  clip-path: polygon(0% 0%, 50% 30%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}

/* Indigo Lanterns */

.indigolanterns {
  --color1: #4b0082;
  --colorbg: #a6bae1;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 21.5%,
    var(--color1) 22%,
    var(--color1) 29%,
    var(--colorbg) 29.5%,
    var(--colorbg) 59.5%,
    var(--color1) 60%,
    var(--color1) 100%
  );
}

.indigolanterns:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--color1);
  clip-path: polygon(
    34% 37%,
    50% 26%,
    66% 37%,
    67% 62%,
    50% 74%,
    33% 62%,
    26% 62%,
    50% 81%,
    75% 62%,
    66% 62%,
    66% 37%,
    74% 37%,
    50% 19%,
    27% 37%
  );
}

/* Legion of superheroes */

.legionsuperheroes {
  --color1: #cfb53b;
  --colorbg: #000;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 60%,
    var(--color1) 61%,
    var(--color1) 100%
  );
  overflow: hidden;
}

.legionsuperheroes:after {
  content: "";
  display: block;
  width: 71%;
  height: 71%;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-bottom: calc(var(--width) * 0.12) solid var(--color1);
  border-left: calc(var(--width) * 0.12) solid var(--color1);
}

.legionsuperheroes:before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 0%;
  width: 71%;
  height: 71%;
  background: var(--color1);
  clip-path: polygon(
    20% 21%,
    39% 44%,
    31% 49%,
    41% 51%,
    40% 61%,
    47% 55%,
    54% 62%,
    54% 53%,
    63% 52%,
    56% 47%,
    63% 40%,
    53% 41%,
    52% 32%,
    46% 38%
  );
}

/* Lexcorp */

.lexcorp {
  --color1: #000;
  --colorbg: #8bc53d;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 65%,
    var(--color1) 65.5%,
    var(--color1) 100%
  );
  overflow: hidden;
}

.lexcorp:after {
  content: "";
  display: block;
  width: 71%;
  height: 71%;
  position: absolute;
  top: 0;
  right: -12%;
  background: transparent;
  border-bottom: calc(var(--width) * 0.15) solid var(--color1);
  border-left: calc(var(--width) * 0.3) solid var(--color1);
  transform: skewX(-12deg);
}

/* Martian Manhunter */

.martianmanhunter {
  border-radius: 100%;
  background: conic-gradient(
    #348303 0%,
    #348303 14%,
    #171967 14.1%,
    #171967 86%,
    #348303 86.1%,
    #348303 100%
  );
  border: calc(var(--width) * 0.09) solid yellow;
  overflow: hidden;
  box-sizing: border-box;
}

.martianmanhunter:after,
.martianmanhunter:before {
  content: "";
  display: block;
  width: 101%;
  height: 10%;
  background: #ff1100;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  top: 45%;
  left: -0.5%;
  position: absolute;
}

.martianmanhunter:before {
  transform: rotate(-45deg);
}

/* Ms. Marvel */

.msmarvel {
  width: calc(var(--width) / 1.8);
  background: linear-gradient(
    97deg,
    #c6b118 0%,
    #fffa5f 46%,
    #fffa5f 52%,
    #c6b118 100%
  );
  clip-path: polygon(70% 0%, 0% 56%, 60% 56%, 30% 100%, 100% 44%, 40% 44%);
}

/* Moonknight */

.moonknight {
  --color1: #000;
  --colorbg: #fff;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--color1) 0%,
    var(--color1) 51%,
    var(--colorbg) 51.5%,
    var(--colorbg) 62.5%,
    var(--color1) 63%,
    var(--color1) 100%
  );
  overflow: hidden;
}

.moonknight:before {
  content: "";
  display: block;
  width: 55%;
  height: 55%;
  background: var(--colorbg);
  top: 22.5%;
  left: 35%;
  border-radius: 100%;
  position: absolute;
}

/* Nightwing */

.nightwing {
  --color1: #1c8bc6;
  background: var(--color1);
  clip-path: polygon(
    0% 23%,
    13% 18%,
    41% 41%,
    47% 34%,
    39% 34%,
    44% 30%,
    53% 30%,
    60% 40%,
    87% 18%,
    100% 22%,
    89% 37%,
    84% 34%,
    87% 39%,
    76% 52%,
    72% 49%,
    74% 54%,
    66% 63%,
    61% 59%,
    61% 71%,
    50% 82%,
    38% 70%,
    39% 58%,
    34% 63%,
    25% 53%,
    29% 49%,
    23% 51%,
    12% 38%,
    15% 35%,
    11% 37%
  );
}

/* Nova Corps */

.nova {
  background: conic-gradient(
    from 0deg at 50% 73%,
    #6c1104 0%,
    #6c1104 6%,
    #bc1b05 6.5%,
    #bc1b05 10%,
    #6c1104 10.5%,
    #6c1104 15%,
    #bc1b05 15.5%,
    #bc1b05 20.5%,
    #6c1104 21%,
    #6c1104 30%,
    #bc1b05 30.5%,
    #bc1b05 37.5%,
    #6c1104 38%,
    #6c1104 43%,
    #bc1b05 43.5%,
    #bc1b05 44%,
    #bc1b04 44.5%,
    #bc1b04 50%,
    #6c1104 50.5%,
    #6c1104 56%,
    #bc1b05 56.5%,
    #bc1b05 62.5%,
    #6c1104 63%,
    #6c1104 68%,
    #bc1b05 68.5%,
    #bc1b05 79%,
    #6c1104 79.5%,
    #6c1104 83%,
    #bc1b05 84.5%,
    #bc1b05 90%,
    #6c1104 90%,
    #6c1104 93%,
    #bc1b05 90.5%,
    #bc1b05 100%
  );
  clip-path: polygon(
    50% 0%,
    44% 60%,
    34% 50%,
    38% 65%,
    7% 61%,
    43% 76%,
    36% 86%,
    46% 84%,
    50% 100%,
    54% 83%,
    64% 87%,
    57% 76%,
    95% 61%,
    62% 64%,
    67% 51%,
    56% 60%
  );
}

/* Orion New Gods */

.orion,
.orion:before,
.orion:after {
  width: calc(var(--width) * 0.8);
  height: calc(var(--width) * 0.8);
  background: radial-gradient(
    circle,
    #f2554a 0%,
    #f2554a 65%,
    #fbf26e 66%,
    #c3bd63 100%
  );
  transform: rotatez(45deg);
}

.orion:before,
.orion:after {
  content: "";
  position: absolute;
  transform: rotatez(60deg);
}

.orion:after {
  transform: rotatez(-60deg);
}

/* Phoenix */

.phoenix {
  --color1: #e3b92c;
  height: calc(var(--width) * 0.8);
  background: var(--color1);
  clip-path: polygon(
    0% 0%,
    33% 0%,
    45% 15%,
    48% 5%,
    43% 0%,
    54% 0%,
    54% 15%,
    66% 0%,
    100% 0%,
    92% 16%,
    83% 16%,
    90% 20%,
    84% 31%,
    76% 31%,
    82% 35%,
    76% 47%,
    68% 47%,
    74% 51%,
    67% 66%,
    56% 66%,
    61% 77%,
    50% 100%,
    39% 77%,
    44% 66%,
    33% 66%,
    26% 51%,
    32% 47%,
    24% 47%,
    18% 35%,
    24% 31%,
    16% 31%,
    10% 20%,
    17% 16%,
    8% 16%
  );
}

/* Red Hood */

.redhood {
  --color1: #b31401;
  background: var(--color1);
  clip-path: polygon(
    0% 47%,
    18% 30%,
    44% 38%,
    47% 29%,
    48% 34%,
    52% 34%,
    53% 29%,
    56% 38%,
    83% 30%,
    100% 48%,
    93% 46%,
    72% 56%,
    71% 60%,
    66% 59%,
    55% 64%,
    51% 71%,
    47% 65%,
    33% 58%,
    29% 60%,
    28% 56%,
    6% 46%
  );
}

/* Red Tornado */

.redtornado {
  border-radius: 100%;
  background: #e4b92b;
  overflow: hidden;
}

.redtornado:before {
  content: "";
  display: block;
  width: 100%;
  height: 60%;
  background: #c00000;
  top: 40%;
  left: 0;
  position: absolute;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 40%,
    65% 40%,
    65% 100%,
    35% 100%,
    35% 40%,
    0% 40%
  );
}

/* Shazam */

.shazam {
  width: calc(var(--width) / 1.8);
  background: radial-gradient(
    circle,
    #c61818 0%,
    #ff5f5f 32%,
    #e64040 62%,
    #c61818 100%
  );
  clip-path: polygon(
    25% 2%,
    6% 31%,
    24% 31%,
    9% 59%,
    25% 59%,
    8% 100%,
    82% 52%,
    65% 53%,
    91% 29%,
    65% 29%,
    92% 2%
  );
}

.shazam:after {
  content: "";
  display: block;
  width: calc(var(--width) / 1.8);
  height: var(--width);
  background: linear-gradient(
    137deg,
    #c6b118 0%,
    #ede349 33%,
    #ffd05f 51%,
    #fffa5f 69%,
    #c6b118 100%
  );
  clip-path: polygon(
    28% 4%,
    11% 29%,
    28% 29%,
    12% 57%,
    29% 57%,
    12% 95%,
    76% 54%,
    60% 55%,
    86% 31%,
    60% 31%,
    87% 4%
  );
  top: 0;
  left: 0;
  position: absolute;
}

/* She-Hulk */

.shehulk {
  --color1: #0f7005;
  --colorbg: #6df807;
  border-radius: 100%;
  background: var(--colorbg);
  border: calc(var(--width) * 0.05) solid var(--color1);
  box-sizing: border-box;
  overflow: hidden;
}

.shehulk:before {
  content: "";
  display: block;
  border-radius: 100%;
  width: 90%;
  height: 90%;
  background: conic-gradient(
    var(--color1) 0%,
    var(--color1) 16.5%,
    var(--colorbg) 17%,
    var(--colorbg) 33%,
    var(--color1) 34%,
    var(--color1) 50%,
    var(--colorbg) 50.5%,
    var(--colorbg) 66.5%,
    var(--color1) 67%,
    var(--color1) 83.5%,
    var(--colorbg) 84%,
    var(--colorbg) 100%
  );
  transform: rotate(30deg);
  top: 5%;
  left: 5%;
  position: absolute;
}

.shehulk:after {
  content: "";
  display: block;
  border-radius: 100%;
  width: 30%;
  height: 30%;
  background: var(--color1);
  top: 35%;
  left: 35%;
  border: calc(var(--width) * 0.025) solid var(--colorbg);
  box-sizing: border-box;
  position: absolute;
}

/* Star sapphire */

.starsapphire {
  --color1: #882461;
  --colorbg: #e6b4d0;
  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 59.5%,
    var(--color1) 60%,
    var(--color1) 100%
  );
}

.starsapphire:before {
  position: absolute;
  top: 10%;
  background: var(--color1);
  left: 10%;
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    40% 25%,
    20% 20%,
    25% 40%,
    0% 50%,
    25% 60%,
    20% 80%,
    40% 75%,
    50% 100%,
    60% 75%,
    80% 80%,
    75% 60%,
    100% 50%,
    75% 40%,
    80% 20%,
    60% 25%
  );
  width: 80%;
  height: 80%;
}

.starsapphire:after {
  position: absolute;
  top: 32.5%;
  background: var(--colorbg);
  left: 37.5%;
  display: block;
  content: "";
  width: 25%;
  height: 35%;
  border-radius: 100%;
}



/* Titans */

.titans {
  --color1: #f2b22e;
  border-radius: 100%;
  border: calc(var(--width) * 0.1) solid var(--color1);
  background: #000;
  box-sizing: border-box;
}

.titans:before {
  content: "";
  display: block;
  width: calc(100% - (var(--width) * 0.08));
  height: calc(100% - (var(--width) * 0.08));
  background: var(--color1);
  top: calc(0% + (var(--width) * 0.04));
  left: calc(0% + (var(--width) * 0.04));
  border-radius: 100%;
  position: absolute;
  clip-path: polygon(
    0% 25%,
    100% 25%,
    100% 45%,
    60% 45%,
    60% 100%,
    40% 100%,
    40% 45%,
    0% 45%
  );
}

/* Quicksilver */

.quicksilver {
  --color1: #044bfd;
  --color2: #00ccff;
  --color3: #fff;
  border-radius: 100%;
  background: linear-gradient(
    -45deg,
    var(--color1) 0%,
    var(--color1) 50%,
    var(--color2) 51%,
    var(--color2) 100%
  );
  overflow: hidden;
}

.quicksilver:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--color3);
  clip-path: polygon(
    70% 0%,
    100% 0%,
    100% 24%,
    73% 40%,
    75% 44%,
    50% 58%,
    52% 61%,
    30% 73%,
    31% 76%,
    13% 85%,
    23% 74%,
    21% 72%,
    33% 58%,
    30% 56%,
    48% 34%,
    45% 32%
  );
}

/* Vixen */

.vixen {
  --color1: #f2a83c;
  --color2: #393033;
  background: var(--color1);
  clip-path: polygon(
    2% 0%,
    41% 24%,
    59% 24%,
    98% 0%,
    86% 44%,
    97% 57%,
    50% 100%,
    3% 57%,
    14% 44%
  );
}

.vixen:before,
.vixen:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 24%;
  border-radius: 100%;
  width: 20%;
  height: 11%;
  background: var(--color2);
  transform: rotate(45deg);
  clip-path: polygon(0% 50%, 60% 30%, 100% 50%, 100% 100%, 0% 100%);
}

.vixen:after {
  left: 56%;
  transform: scalex(-1) rotate(45deg);
}

/* Winter soldier */

.wintersoldier {
  --color1: #c71509;
  --color2: #9d9d9d;
  --colorbg: #5e5858;

  border-radius: 100%;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 62.5%,
    var(--color2) 63%,
    var(--color2) 100%
  );
  overflow: hidden;
}

.wintersoldier:after {
  --width2: calc(var(--width) * 0.5);
  position: absolute;
  top: calc(50% - (var(--width2) / 2));
  background: var(--color1);
  left: calc(50% - (var(--width2) / 2));
  display: block;
  content: "";
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: var(--width2);
  height: var(--width2);
}

.wintersoldier:before {
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color2);
  clip-path: polygon(
    0% 30%,
    31% 30%,
    35% 20%,
    65% 20%,
    70% 30%,
    100% 30%,
    100% 32%,
    69% 32%,
    64% 22%,
    36% 22%,
    32% 32%,
    0 32%,
    0% 60%,
    25% 60%,
    30% 45%,
    70% 45%,
    75% 60%,
    100% 60%,
    100% 62%,
    74% 62%,
    69% 47%,
    31% 47%,
    26% 62%,
    0 62%,
    0 85%,
    30% 85%,
    35% 75%,
    65% 75%,
    70% 85%,
    100% 85%,
    100% 87%,
    69% 87%,
    64% 77%,
    36% 77%,
    31% 87%,
    0 87%
  );
}

/* X-Men */

.xmen {
  --color1: #fdd807;
  --color2: #000;
  --color3: #000;
  --colorbg: #f90100;
  border-radius: 100%;
  border: calc(var(--width) * 0.06) solid var(--color1);
  box-sizing: border-box;
  background: radial-gradient(
    circle,
    var(--colorbg) 0%,
    var(--colorbg) 45.5%,
    var(--color2) 46%,
    var(--color2) 100%
  );
  overflow: hidden;
}

.xmen:after,
.xmen:before {
  content: "";
  display: block;
  width: 110%;
  height: 10%;
  background: var(--color3);
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  top: 45%;
  left: -5%;
  position: absolute;
}

.xmen:before {
  transform: rotate(-45deg);
}